.navbar-container {
  background-color: #801843;

  & .navbar-brand {
    background-color: #fff;
    border-radius: 8px;
    color: black;
    padding: 6px;
  }

  & .navbar-brand:hover,
  & .navbar-brand:focus {
    color: initial;
  }

  & .svg-moviepool {
    height: 2rem;
    width: 2rem;
    vertical-align: top;
  }

  & .navbar-nav {
    align-items: flex-end;
  }

  & .nav-link {
    color: #fff;
  }
}