@import '/src/components/navigation-bar/navigation-bar';
@import '/src/components/movie-card/movie-card';
// Colors are not finally set yet, as adapting bootstrap colors is still quite confusing atm
// $primary: #ed6e2d;
// $primary: #6f1341;
$primary: #ed6e2d;
$secondary: #d4d4d4;
$info: #6f1341;
$body-bg: #f6cab5;
$body-color: #282828;
// $body-color: rgb(40, 40, 40);
@import '~bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6f1341;
  background-image: url('../src/img/svg-rainbow-vortex.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 100%;
}

// TODO: figure out best way to have consistent background - not cut
// #root {
//   // height: 100%;
//   // height: 100vh;
// }
h2,
h3,
h4,
p,
label,
span,
.card-title {
  color: #fff;
}