@import '/src/components/main-view/main-view.scss';
@import '/src/components/movie-card/movie-card';
@import '/src/components/navigation-bar/navigation-bar';
$primary: #ed6e2d;
$secondary: #d4d4d4;
$info: #6f1341;
$body-bg: #f6cab5;
$body-color: #282828;
// $body-color: rgb(40, 40, 40);
@import '~bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6f1341;
  background-image: url('../src/img/svg-rainbow-vortex.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

h2,
h3,
h4,
p,
label,
span,
.card-title {
  color: #fff;
}