@import '/src/components/movie-view/movie-view.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #282828;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 1rem;
}

.movie-card__img {
  width: 250px;
  height: auto;
}